* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 95%;
    padding: 1%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.error {
    color: #FF0000;
}

/* Body */
.height-50 {
    min-height: 50vh;
}

.search-container {
    float: right;
}

#search {
    padding: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

.item2 {
    margin: 0 auto;
    margin-top: 20vh;
}

#catPrice-input {
    width: fit-content;
    max-width: 70px;
}

input {
    padding: 1px 6px;
}

textarea {
    padding: 5px 6px;
}

.foodCategory > fieldset{
    border: none;
}

table {
    width: 100%;
}

.table-border {
    border-collapse: collapse;
}

.table-border tr {
    line-height: 30px;
}

.th {
    width: 10%;
    padding: 5px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

.col-20 {
    vertical-align: middle;
    width: 40%;
    padding: 5px;
    text-align: left;
}

.con-table tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

.con-table {
    margin: 0 15vw;
    width: 50%;
}

/* .t-border {
    border-bottom: 1px solid black; 
} */

tr, td {
    padding: 0.5em;
    overflow: hidden;
    word-break: normal;
}

table tr td img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

table .td-1 {
    padding: 0 0;
    width: 10%;
    vertical-align: middle;
}

table .td-2 {
    text-align: left;
    vertical-align: middle;
}

table .td-3 {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.btn {
    position: relative;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    /* align-content: center; */
    margin: 0 auto;
    width: 100%;
    gap: 0 1em;
}

.flex-item > h5 {
    font-size: 1.1em;
}

.flex-item > p {
    font-size: 1em;
}

.flex-item td {
    padding-left: 0;
}