* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 95%;
    padding: 1%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

header, footer {
    width: 100%;
}

.center-text {
    text-align: center;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.error {
    color: #FF0000;
}

/* Header */

header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

header > nav {
    margin-left: auto;
    margin-right: 1%;
    text-decoration: none;
}

header > nav > a {
    border: black solid 1px;
    text-decoration: none;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    color: chocolate;
    font-weight: bold;
}

header > nav > a:hover {
    background-color: #f0f0f0;
}

header > h3 {
    width: 100%;
}

/* Body */
.search-container {
    float: right;
}

#search {
    padding: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}

.item2 {
    margin: 0 auto;
    margin-top: 20vh;
}

#catPrice-input {
    width: fit-content;
    max-width: 70px;
}

input {
    padding: 1px 6px;
}

textarea {
    padding: 5px 6px;
}

.foodCategory > fieldset{
    border: none;
}

table {
    width: 100%;
}

.table-border {
    border-collapse: collapse;
}

.table-border tr {
    line-height: 30px;
}

.th {
    width: 10%;
    padding: 5px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

.col-20 {
    vertical-align: middle;
    width: 40%;
    padding: 5px;
    text-align: left;
}

.con-table tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

.con-table {
    margin: 0 10vw;
    width: 50%;
}

/* .t-border {
    border-bottom: 1px solid black; 
} */

tr, td {
    padding: 0.5em;
    overflow: hidden;
    word-break: normal;
}

table tr td img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

table .td-1 {
    padding: 0 0;
    width: 10%;
    vertical-align: middle;
}

table .td-2 {
    text-align: left;
    vertical-align: middle;
}

table .td-3 {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

.btn {
    position: relative;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Footer */

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

footer > div > div {
    margin-left: auto;
}

.fa {
    padding: 10px;
    width: 1em;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}