* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 95%;
    padding: 1%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

header, footer {
    width: 100%;
}

.center-text {
    text-align: center;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Body */
.btn {
    font-size: 15px;
    padding: 10px 10px;
    margin-right: 20px;
}

.text-bold {
    font-weight: 600;
}

.border {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    white-space: nowrap;
    min-height: 35vh;
}

.flex-item {
    flex: 1;
}

.order-status {
    margin: 0 auto;
    padding: 2rem 10rem;
}

.order-detail-table th {
    line-height: 40px;
    text-align: left; 
    font-size: large;
}

.pad-btm {
    padding-bottom: 15px;
}

.order-detail-table td {
    line-height: 40px;
}


.order-list {
    min-height: 30vh;
}

.order-list-table {
    width: 99%;
    border-collapse: collapse;
    font-size: 1em;
}

.order-list-table th {
    text-align: left;
}

.order-list-table th, .order-list-table td {
    padding-left: 5px;
    border: 1px solid black;
    line-height: 50px;
}