* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 95%;
    padding: 1%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

header, footer {
    width: 100%;
}

.center-text {
    text-align: center;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Header */

header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

header > nav {
    margin-left: auto;
    margin-right: 1%;
    text-decoration: none;
}

header > nav > a {
    border: black solid 1px;
    text-decoration: none;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    color: chocolate;
    font-weight: bold;
}

header > nav > a:hover {
    background-color: #f0f0f0;
}

header > h3 {
    width: 100%;
}

/* Body */
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
}

.border-radius-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cards * {
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
}

.cardHighlight {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    display: block;
    /* background-color: yellow; */
    border: 2px solid black;
    padding: 10px;
}

.cardContent {
    display: flex;
    flex: 1;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.cardStatus {
    vertical-align: middle;
    font-size: 0.9em;
    padding: 15px 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.text-bold {
    font-weight: bold;
}

.bg-gy {
    /* background-color: greenyellow; */
}

.cardContent > p:first-of-type {
    margin-top: 0;
}

.cardContent > p:last-of-type {
    margin-bottom: 0;
}

.cardInfo {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: chocolate; */
    font-size: 0.8em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.cardLink {
    color: #64968c;
    text-decoration: none;
}

.cardLink:hover {
    text-decoration: underline;
}

/* Footer */

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

footer > div > div {
    margin-left: auto;
}

.fa {
    padding: 10px;
    width: 1em;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}